// defaults

body {
	// font-size: 10px;
	font-family: "MinionPro-Regular";
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

h1 {
	font-size: 1.2rem;
}

h2 {

}

h4 {
	font-weight: bold;
	font-size: 1.1em;
}

ul {
	list-style-type: none;
}

a {
	color:#000;

	&:visited, &:hover{
		color:#000;
		// font-weight: bold;
		text-decoration: none;	
	}
}

p {
  margin: 10px 0px;
}

// variations

h2.secondary{
	color: #fff;
	text-transform: uppercase;
	margin-top: 0;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
}

span.post-type-label, span.readMore {
	font-style: italic;
}

div.homepage p {
	 margin: 0 0 10px;
}

div.designersIndexImage p {
  margin: 0px 0px;
  min-height: 40px;
}

div.contentCategory p {
  margin: 0 0 10px;
}

//images

div.designersIndexImage img, div.articleImage img, div.homepageImage img {
	width: 100%;
	margin-bottom: 10px;
	padding-left: 0px;
}

div.contactPageContent img.aligncenter.wp-image-1508, img.aligncenter.size-large.wp-image-1523 {
	  width: 100%;
	  height: 50%;
}

.col-md-2.col-sm-3.col-xs-4.designersIndexImage {
  height: 175px;
}

div.articleImage img {
	padding: 0 15px;
}

// div.homepageImage img {
//   max-height: 250px;
// }
// .articleImage .col-xs-6 {
//   padding-left: 0px;
// }

//homepage

// .col-sm-4.col-xs-6 {
//   height: 350px;
// }

// .homepagePostDescription {
// 	min-height: 
// }

//designer index

// .col-md-2.col-sm-3.col-xs-4.designersIndexImage {
//   height: 175px;
// }

//contact page

// .col-sm-6.contactForm {
//   border-left: 1px solid black;
// }

// .styleposts .col-xs-6 {
//   padding-left: 0px;
// }

// input.wpcf7-form-control.wpcf7-submit {
//   background-color: white;
//   border: 1px solid black;
//   padding: 2px 26px;
// }



/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: General Stuff
:: Header
:: Content
:: Archive
:: Footer
*/


// .homepagePosts .col-sm-4.col-xs-6 {
// 	  height: 350px;
// 	}
// .homepageImage img {
// 		width: 100%;
// 		margin-bottom: 10px;
// 		padding-left: 0px;
// 	}

// homepage

.homepage {
  min-height: 70px;
}

.homepagePosts {
		h2{
			font-size: 1em;
			margin: 0px;
			display: inline;
			}
}

// styleposts

.styleposts {
	.col-xs-6 {
		padding-left: 0px;
	}
	div.postImage img {
		width: 100%;
		margin-bottom: 10px;
		padding-left: 0px;
	}
	h2 {
		font-size: 1em;
		margin: 0px;
	}
	.col-xs-12 {
  	padding-bottom: 30px;
	}
}

// article posts

// .entry-content p, {
// 	padding: 0 15px;
// }

.entry-content {
  padding-bottom: 30px;
}

h2.articleTitle {
	margin-top: 0px;
	@media (max-width: 320px) {
	  font-size: 20px;
	}
}

.articleImage .col-xs-6 {
  padding-left: 0px;
}

// designer index

.designersIndexImage {
	.col-md-2.col-sm-3.col-xs-4 {
		height: 175px;
	}
	img {
		width: 100%;
		margin-bottom: 10px;
		padding-left: 0px;
	}
}

// contact form


.contactForm.col-sm-6{
	 border-left: 1px solid black;
				input.wpcf7-form-control.wpcf7-submit {
					background-color: white;
					border: 1px solid black;
					padding: 2px 26px;
				}
		}




/* -----------------------------------------
   Responsive
----------------------------------------- */
// @media only screen and (max-width: 767px) {
// 	#logo{
// 		img{padding:0 100px;}
// 	}

// 	.content{margin-left:10px;margin-right:10px;
// 		.postData{margin-left:10px;margin-right:10px;margin-bottom:10px;
// 			.postName,
// 			.postinfo{padding-left:0;padding-right:0;}
// 			.postinfo{
// 				.block-grid{border:0;width:100%;
// 					&.one-up{margin:0;}
// 					li{padding:10px 0;}
// 				}
// 			}
// 		}
// 	}

// }





