// header.banner {
// 	width: 65%;
// }

.logo {
    width: 70%;
    margin-left: 15%;
    padding: 20px;
    @media (max-width: 767px) {
        width: 100%;
        margin-left: 0px;
    }
}

a.brand {
	color:green;
}

ul.nav {

    border-bottom: solid 1px;
    border-top: solid 1px;
    // margin-bottom: 40px;
    margin: 0px 10px 40px -10px;
    text-align: center;

    li {
    	text-transform: uppercase;
		display: inline-block;

        a {
            padding:10px 18px;
            @media (max-width: 320px) {
              padding: 5px 5px;
            }
        }
    }
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: white;
}