// header.banner {
// 	width: 65%;
// }

a.brand {
	color:green;
}

ul.nav {
    width:65%;
    border-bottom: solid 1px;
    border-top: solid 1px;

    li {
    	text-transform: uppercase;
		display: inline-block;

        a {
            padding:10px;
        }
    }
}